:root{
    --font-family: "Inter", sans-serif;
}

.progressBar{
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 10px;
    background-color: #626262;
    border-radius: 0 10px 10px 0;

    animation-name: progress;
    animation-timing-function: linear;
    animation-timeline: scroll();
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFF0;
    width: 100%;

}
.firstScreen{
    width: 100%;
    height: 100vh;
    background-color: #171717;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firstScreen h1, .firstScreen h2{
    animation-name: color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
.firstScreen h1 {
    font: 700 clamp(120pt, 70%, 256pt) var(--font-family);
    user-select: none;
    color: #171717;
    margin: 0;
}
.firstScreen h2{
    font: 300 3em var(--font-family);
    user-select: none;
    color: #171717;
    margin: 0;
}
.buttons{
    margin-top: 5%;
    width: 100%;
    position: sticky;
    top:20px;
}
.btnLeft, .btnRight{
    z-index: 3;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #626262;
    border-radius: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.btnLeft{
    left: 14%;
    background-image: url("res/left-fish.svg");
}
.btnRight{
    right: 14%;
    background-image: url("res/right-fish.svg");
}
.mainEl{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.textFrame{
    margin-block: 10vh 10vh;
    width: 60%;
    font: 300 clamp(32pt,50%,64pt)/1.7 "Inter";
    text-align: justify;
    letter-spacing: 0.05em;
}
.image{
    position: relative;
    width: 100%;
    margin-block: 5% 5%;
    overflow: clip;
}
.castle-fish{
    position: absolute;
    width: 7%;
}
.fish1{
    transform: scale(-1, 1);
    left: -10%;
    top: 50px;
    animation-name: leftToRight;
    animation-fill-mode: both;
    animation-timing-function: linear;

    view-timeline-name: --left-to-right;
    animation-timeline: --left-to-right;
    animation-range: 0% 100%;


}
.fish2{
    right: -10%;
    bottom: 10px;
    animation-name: rightToLeft;
    animation-fill-mode: both;
    animation-timing-function: linear;

    view-timeline-name: --right-to-left;
    animation-timeline: --right-to-left;
    animation-range: 0% 100%;

}
.fish3{
    transform: scale(-1, 1);
    left: -10%;
    bottom: 50px;
    animation-name: leftToRight;
    animation-fill-mode: both;
    animation-timing-function: linear;

    view-timeline-name: --left-to-right;
    animation-timeline: --left-to-right;
    animation-range: 0% 100%;

}
.fish4 {
    right: -10%;
    top: 10px;
    animation-name: rightToLeft;
    animation-fill-mode: both;
    animation-timing-function: linear;

    view-timeline-name: --right-to-left;
    animation-timeline: --right-to-left;
    animation-range: 0% 100%;

}

.ship{
    position: absolute;
    left: 5%;
    bottom: 12%;

    width: 22%;

    animation-name: ship;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
}
.clouds{


}
.cloud1, .cloud2, .cloud3, .cloud4{
    position: absolute;

    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    width: 15%;
}
.cloud1{
    animation-name: cloudLeft;
    animation-duration: 2s;
    left: 20%;
    top: 10%;
}
.cloud2{
    animation-name: cloudRight;
    animation-duration: 2s;
    left: 80%;
    top: 10%;
}
.cloud3{
    animation-name: cloudLeft;
    animation-duration: 2s;
    left: 30%;
    top: 10%;
}
.cloud4{
    animation-name: cloudRight;
    animation-duration: 2s;
    left: 70%;
    top: 10%;
}

.leftDecoration, .rightDecoration{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;

}
.leftDecoration img, .rightDecoration img{
    margin-top: 50%;
    width: 40%;
}